@using AcoTerra.Web.Models.Trucks

@model List<TruckListViewModel>

@{
    ViewData["Title"] = "Camiones";
}

<h1>Camiones</h1>

<a asp-action="Create" class="btn btn-primary mb-3">Crear Nuevo</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Patente</th>
            <th scope="col">Marca</th>
            <th scope="col">Modelo</th>
            <th scope="col">Año de fabricación</th>
            <th scope="col">Número de chasis</th>
            <th scope="col">Número de motor</th>
        </tr>
    </thead>
    <tbody>
        @foreach (TruckListViewModel truck in Model) {
            <tr>
                <th scope="row">@truck.Id</th>
                <td>@Html.ActionLink(truck.LicensePlate!, "Details", new { id = truck.Id})</td>
                <td>@truck.Brand</td>
                <td>@truck.Model</td>
                <td>@truck.ManufacturingYear</td>
                <td>@truck.ChassisNumber</td>
                <td>@truck.EngineNumber</td>
            </tr>
        }
    </tbody>
</table>